{
  "extends": ["next", "airbnb", "prettier"],
  "plugins": ["react", "prettier"],
  "rules": {
    "import/prefer-default-export": 0,
    "comma-dangle": [1, "always-multiline"],
    "no-use-before-define": 0,
    "eqeqeq": 0,
    "no-param-reassign": 0,
    "no-console": 0,
    "arrow-body-style": 0,
    "react/self-closing-comp": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/destructuring-assignment": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn" // <--- THIS IS THE NEW RULE
  }
}
